<%= content_for :head_content do %>
  <script type="text/javascript">
    var tweets = <%= raw @tweets.to_json %>;

    $(document).ready(function() {
      app.initialize(tweets);
    });
  </script>
<% end %>

<!--
  <%= session[:access_token] %>
  <%= session[:access_secret] %>
-->

<div id="timeline-view">
  <div id="compose">
    <textarea id="compose-field"></textarea><br>
    <input id="tweet-button" type="button" value="Tweet" />
  </div>

  <ul></ul>
</div>

<script id="tweet-template" type="text/x-jQuery-tmpl">
  <div class="screen_name"><a href="http://twitter.com/${screen_name}" target="_blank">${screen_name}</a></div>
  <div class="tweet-text">{{html tweet_text}}</div>
</script>
