<% content_for :head_content do %>
  <script type="text/javascript">
    var tweets = <%= @tweets %>;

    $(document).ready(function() {
      app.initialize(tweets);
      $('.timeago').timeago();
    });
  </script>
<% end %>

<!--
  <%= session[:access_token] %>
  <%= session[:access_secret] %>
-->

<div id="timeline-view">
  <div id="compose">
    <textarea id="compose-field"></textarea>
    <div class="float-left"><input id="tweet-button" type="button" value="Tweet" /></div>
    <div id="remaining-chars" class="float-right">140 remaining</div>
    <div class="clear"></div>
  </div>

  <ul></ul>
</div>

<script id="tweet-template" type="text/x-jQuery-tmpl">
  <div class="screen_name"><a href="http://twitter.com/${screen_name}" target="_blank">${screen_name}</a></div>
  <div class="tweet-text">{{html tweet_text}}</div>
  <div class="status-line"><span class="timeago" title="${created_at}">${created_at}</span></div>
</script>
