body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  color: #333;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear {
  clear: both;
}

#container {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

#compose-field {
  width: 100%;
  margin-bottom: 5px;
}

#remaining-chars {
  color: #666;
  font-size: 90%;
}

#timeline-view ul {
  padding-left: 0;
  font-size: 90%;
}

#timeline-view ul li {
  list-style-type: none;
  border-top: 1px solid #ddd;
  padding: 9px 0;
}

.screen_name a, .tweet-text a {
  color: #dbab00;
  text-decoration: none;
}

.screen_name a {
  font-weight: bold;
}

.status-line {
  color: #666;
  font-size: 90%;
}
